/* BASIC AND NORMALIZE STYLE */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: var(--Light);
    line-height: 1;
    font-size: 1.6rem;
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-size: 1.4rem;
    display: inline-block;
    text-transform: capitalize;
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
}

a {
    font-weight: 500;
    font-size: 1.4rem;
}

li {
    display: inline-flex;
}

.Container {
    width: 114rem;
    max-width: 95%;
    margin: 0 auto;
}

.Container .Cols {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* =========================== */
/* REUSEABLE COMPONENT AND COLOR VARIABLE */
:root {
    --Dark: #3B4443;
    --Light: #F0F2F2;
    --Nav_bg: #7C9989;
    --Light_border: 0.2rem solid var(--Light);
    --Dark_border: 0.2rem solid var(--Dark);
    --Btn_shadow_light: 0.2rem 0.2rem .6rem rgba(255, 255, 255, 0.66);
    --Btn_shadow_dark: 0.2rem 0.2rem .6rem rgba(0, 0, 0, 0.66);
}

h1 {
    font-size: 6rem;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    text-align: center;
}

h1::before {
    content: "";
    border: .2rem solid var(--Dark);
    width: 65rem;
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

h1::after {
    content: "";
    border: .2rem solid var(--Dark);
    width: 65rem;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

.Btn {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    line-height: 2.4rem;
    background: var(--Light);
    color: var(--Dark);
    box-shadow: var(--Btn_shadow_light);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/* =========================== */
Section#Nav {
    width: 100%;
    background: var(--Nav_bg);
    box-shadow: 0 .5rem 5rem #ffffff;
}

Section#Nav nav {
    min-height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

Section#Nav nav .logo h3 {
    text-transform: uppercase;
    color: var(--Light);
    font-size: 2.6rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
}

Section#Nav nav .logo h3::after {
    content: "";
    background: var(--Dark);
    height: 0.3rem;
    width: 0%;
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    animation: Compleat_line 1s linear infinite alternate;
    -webkit-animation: Compleat_line 1s linear infinite alternate;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

@keyframes Compleat_line {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

/* --------------------- */
Section#Nav nav ui.Nav_items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

Section#Nav nav ui.Nav_items li a,
Section#Nav nav ui.Nav_items li a:link.Section#Nav nav ui.Nav_items li a:visited {
    color: var(--Light);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .08rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem .6rem;
    margin-left: 2rem;
    position: relative;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

Section#Nav nav ui.Nav_items li a:hover,
Section#Nav nav ui.Nav_items li a.Active {
    color: #fff;
    font-weight: 700;
}

Section#Nav nav ui.Nav_items li a::after {
    content: "";
    height: .2rem;
    width: 0%;
    background: var(--Dark);
    display: flex;
    justify-content: center;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    position: absolute;
    bottom: 0.5rem;
}

Section#Nav nav ui.Nav_items li a:hover:after,
Section#Nav nav ui.Nav_items li a.Active:after {
    width: calc(100% - 1.2rem);
}

/* =========================== */
Section#Hero {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(hwb(174 22% 75% / 0.96), hwb(174 22% 75% / 0.96)), url('../Images/Hero_background.jps');
    background-size: cover;
    background-position: center center;
    color: var(--Light);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

Section#Hero #Layer_1 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    fill: var(--Light);
}

/* -------------------- */
Section#Hero .Container {
    margin-top: -35vh;
}

section#Hero h1::after,
section#Hero h1::before {
    border: var(--Light_border);
}

section#Hero h1 {
    margin-bottom: 8vh;
}

section#Hero h1::after,
section#Hero h1::before {
    display: none;
}

section#Hero p {
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
    font-size: 1.7rem;
    line-height: 2.2rem;
}

section#Hero .Btn.Hero_btn {
    box-shadow: var(--Btn_shadow_dark);
    position: absolute;
    left: 50%;
    bottom: 38vh;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

section#Hero .Btn.Hero_btn:hover {
    background: var(--Dark);
    color: var(--Light);
}

/* =========================== */
Section#About_me {
    width: 100%;
    height: 100vh;
    position: relative;
}

Section#About_me .Container .Photo,
Section#About_me .Container .About_txt {
    width: 50%;
}

Section#About_me .Container .Photo {
    border: .2rem solid var(--Dark);
    height: 95vh;
    margin-top: -5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

Section#About_me .Container .About_txt {
    margin-top: -5vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
}

Section#About_me .Container .About_txt h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--Dark);
    text-transform: uppercase;
}

Section#About_me .Container .About_txt h2 {
    font-size: 3.2rem;
    font-weight: 700;
    margin: 2rem 0;
    color: #5B846E;
    line-height: 3.8rem;
    text-transform: capitalize;
}

Section#About_me .Container .About_txt p {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 3.5rem;
    color: var(--Dark);
    line-height: 2rem;
    text-transform: capitalize;
}

Section#About_me .Container .About_txt p.About_pra_bottom {
    margin-bottom: 0rem;
}

/* -------------------- */
Section#About_me #Layer_1 {
    position: absolute;
    bottom: 0;
    left: 0;
    fill: var(--Dark);
}

/* =========================== */
Section#Highlight {
    width: 100%;
    height: 160vh;
    background: var(--Dark);
    position: relative;
}

Section#Highlight h1 {
    color: var(--Light);
}

Section#Highlight h1::after,
Section#Highlight h1::before {
    border: var(--Light_border);
}

Section#Highlight .Rows {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 5.5rem;
}

Section#Highlight .Rows .Cols {
    margin-bottom: 2rem;
}

Section#Highlight .Rows .Col_video {
    width: 45.5rem;
    height: 24rem;
    background-color: var(--Light);
}

Section#Highlight .Rows .Row_midle .Col_video {
    order: 2;
}

Section#Highlight .Rows .Col_txt,
Section#Highlight .Rows .Col_video {
    display: flex;
    align-items: center;
    justify-content: center;
}

Section#Highlight .Rows .Col_txt {
    width: calc(100% - 46.5rem);
    height: 24rem;
    background-color: var(--Light);
    padding: 3rem 7rem;
    flex-direction: column;
    align-items: flex-start;
    color: var(--Dark);
}

Section#Highlight .Rows .Col_txt h3 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: capitalize;
}

Section#Highlight .Rows .Col_txt p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin: 2.5rem 0;
    color: var(--Dark);
}

Section#Highlight .Rows .Col_txt .Highlight_btn {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 1rem;
    color: var(--Light);
    background: var(--Dark);
    box-shadow: var(--Btn_shadow_dark);
    letter-spacing: normal;
    text-transform: capitalize;
    padding: 0.5rem 1.5rem;
}

Section#Highlight .Rows .Col_txt .Highlight_btn:hover {
    color: var(--Dark);
    background: var(--Light);
    font-weight: 700;
}

/* ------------------ */
Section#Highlight #Layer_1 {
    position: absolute;
    bottom: 0;
    left: 0;
    fill: var(--Light);
}

/* =========================== */
Section#Portfolio {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

Section#Portfolio h1 {
    font-size: 6rem;
    font-weight: 700;
    color: var(--Dark);
}

Section#Portfolio h1::before,
Section#Portfolio h1::after {
    border: var(--Dark_border);
}

Section#Portfolio .Cols .Col {
    width: calc(100%/5 - 0.5rem);
    margin-top: 2rem;
    background: #fff;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}Section#Portfolio .Cols .Col {
    width: calc(100%/3 - 0.5rem);
    margin-top: 2rem;
    background: #fff;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}Section#Portfolio .Cols .Col iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    scrollbar-width: none;

}

Section#Portfolio #Layer {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* =========================== */
Section#Services {}

/* =========================== */
Section#Packages {}

/* =========================== */
Section#Contact {}

/* =========================== */
Section#Footer {}

/* =========================== */